
<div class="container-about-me" id="start">

    <h3>{{ title }}</h3>
    
    <section>
        
        <div>
            <h4>Who am i?</h4>
            <p>My name is Mike Hermsen. 18 years old. I am currently studying at the ROC Technovium, training application developer. In my spare time I am busy programming to get better. Go to the page skills to view my skills.</p>
            <img src="/static/media/home/why-programming.png" alt="learning image">
        </div>

        <div>
            <h4>Why programming?</h4>
            <p>In previous years I did an internship at various computer companies. I have learned that programming suits me better and I want to do something with that. Since I also program in my spare time, I learn new things quickly</p>
            <img src="/static/media/home/who-am-i.jpeg" alt="learning image">
        </div>

    </section>
        
</div>

