
<div class="container" id="start">

    <h3>{{ title }}</h3>
    
    <section class="container-contact">

        <form action="/contact" method="POST">
            <input type="text" name="email" placeholder="*Email">

            <input type="text" name="name" placeholder="*Name">
            
            <textarea name="message" placeholder="Place your message here..." style="height:100px"></textarea>

            <input type="submit"  value="Submit">
        </form>
  
        
        <div>
            <h4>Contact</h4>
            <p>If you want to contact me, you can do so via the forum or send an email to me. The email is at the bottom of this page.</p>
        </div>
        
    </section>

    <section>
        
        <div class="container-contact">
            <h4>Media</h4>
            <p>Below you will find the media profiles on which I am active.</p>
            <a title="MikeHermsen" href="https://github.com/MikeHermsen" class="fa fa-github" > MikeHermsen</a>
            <li><a title="linkedin" href="https://www.linkedin.com/in/mike-hermsen-239215202/" class="fa fa-linkedin" > Mike Hermsen</a></li>
        </div>
        
        <div class="container-contact">
            <h4>Social media</h4>
            <p>Below are the following media profiles for you to contact me</p>
            <a title="MikeHermsenPrive@Gmail.com" href="mailto:MikeHermsenPrive@Gmail.com" class="fa fa-envelope"> MikeHermsenPrive@Gmail.com</a>
            <a title="+31 6 363-75-021" href="https://wa.me/31636375021" class="fa fa-whatsapp" > 06 363-75-021</a>
        </div>

    </section>
        
</div>

