

<div class="container-home" id="start">

    <h3>What I do</h3>
    
    <section>
        
        <div>
            <h4>Learning</h4>
            <p>Every day I try to learn something new. With this I try to increase my skills to get better with programming.</p>
            <img src="/static/media/home/learning.png" height="300px" alt="learning image">
        </div>
        
        <div>
            <h4>Linux</h4>
            <p>Since I am using Linux as my default operating system, I am comfortable with these skills. This can be useful since most servers run on linux.</p>
            <img src="/static/media/home/linux.jpeg" height="300px" alt="Linux image">
        </div>

        <div>
            <h4>Hardware</h4>
            <p>In recent years I have done an internship at various computer companies. Because of this I have built up a basic knowledge of hardware.</p>
            <img src="/static/media/home/hardware.jpeg" height="300px" alt="Hardware image">
        </div>
         
        
        <div>
            <h4>Motivated</h4>
            <p>By setting up new projects I stay motivated and I always try something new. I usually do this in my spare time.</p>
            <img src="/static/media/home/motivation.jpeg" height="300px" alt="Motivated image">
        </div>

    </section>
    
</div>
