
<div class="container container-projects" id="start">

    <h3>{{ title }}</h3>
    


<div class="container-projects">
    
    <section>
        
        <div class="code-blocks noselect">
            <h4>HTML - Portofolio</h4>
            <p>The website you are currently viewing is written in Python, HTML, Sass, Jquery and JavaScript.</p>
            <div class="code-container front">
              <p>Click on this box for more options.</p>
            </div>
            <div class="code-container back">
              <p>Sources</p>
              <a class="fa fa-globe" href="/"><span><br>Website</span></a>
              <a class="fa fa-github" href="https://github.com/MikeHermsen/Portofolio"><span><br>GitHub</span></a>
              <a class="fa fa-folder" href="/static/zips/Portofolio.zip"><span><br>Zip</span></a>
            </div>
          </div>

          <div class="code-blocks noselect">
            <h4>HTML - ROC</h4>
            <p>This website was built in a team of 3 people. We have been assessed on collaboration and the end result.</p>
            <div class="code-container front">
              <p>Click on this box for more options.</p>
            </div>
            <div class="code-container back">
              <p>Sources</p>
              <a class="fa fa-folder" href="/static/zips/ROC-Site.zip"><span><br>Zip</span></a>
            </div>
          </div>
        
          <div class="code-blocks noselect">
            <h4>HTML - GigaFix</h4>
            <p>This website is built with PHP, HTML & CSS. We have been tested for the correct use of the HTML and CSS syntax.</p>
            <div class="code-container front">
                <p>Click on this box for more options.</p>
            </div>
            <div class="code-container back">
              <p>Sources</p>
              <a class="fa fa-globe" href="https://GigaFix.nl/"><span><br>Website</span></a>
              <a class="fa fa-github" href="https://github.com/MikeHermsen/GigaFix-Website"><span><br>GitHub</span></a>
              <a class="fa fa-folder" href="/static/zips/GigaFix.zip"><span><br>Zip</span></a>
            </div>
          </div>


          <div class="code-blocks noselect">
            <h4>Python - Rock Paper Scissors</h4>
            <p>This program is made with python. The assignment was to imitate rock paper scissors in it.</p>
            <div class="code-container front">
              <p>Click on this box for more options.</p>
            </div>
            <div class="code-container back">
              <p>Sources</p>
              <a class="fa fa-folder" href="/static/zips/RockPaperScissors.zip"><span><br>Zip</span></a>
            </div>
          </div>

          <div class="code-blocks noselect">
            <h4>Java - Dice</h4>
            <p>In Java we had to make a program that can roll a die and print the result in the terminal.</p>
            <div class="code-container front">
              <p>Click on this box for more options.</p>
            </div>
            <div class="code-container back">
              <p>Sources</p>
              <a class="fa fa-folder" href="/static/zips/Dice.zip"><span><br>Zip</span></a>
            </div>
          </div>

          <div class="code-blocks noselect">
            <h4>Java - Bank</h4>
            <p>To get better, I wrote the following script in my spare time that simulates a bank-server-side.</p>
            <div class="code-container front">
              <p>Click on this box for more options.</p>
            </div>
            <div class="code-container back">
              <p>Sources</p>
              <a class="fa fa-folder" href="/static/zips/Bank.zip"><span><br>Zip</span></a>
            </div>
          </div>

    </section>
        
    </div>

</div>

