
<div class="container" id="start">

    <h3>{{ title }}</h3>
    
    <section>
        
        <div>
            <h4>Python</h4>
            <p>Since 2017 I have started to expand my programming languages. I've done this with Python because it's a relatively easy language to start with. I still work with Python to this day. A fun fact is that this website was built using Flask. Flask is one of the many libraries in Python.</p>
        </div>
        
        <div>
            <h4>Java</h4>
            <p>I have not been familiar with Java for too long. that's why I'm trying out some projects in java to get better at it. The projects can be found on the projects page.</p>
        </div>

        <div>
            <h4>HTML, Css</h4>
            <p>I've been familiar with HTML and CSS for a while. But I've only really been working on it since last year. I am now using PHP, Python Flask, JS & Sass.</p>
        </div>

        <div>
            <h4>Linux</h4>
            <p>My default OS has become Ubuntu 20.04 for the past 2 years. I consciously chose this because Linux, among other things, is open source and safe. What I like most about linux is that it is fully customizable.</p>
        </div>

        <div>
            <h4>Hardware</h4>
            <p>Through my internships at various computer companies I have built up a basic knowledge of hardware. I still try to do something with hardware every now and then.</p>
        </div>

    </section>
    
</div>
