    {# The title of the page, This is set with an variable #}
    <title> {{ title }} </title>
    
    {# Css of the page, This will dress up the page#}
    <link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet'>
    {# Libary for icons #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {# viewport will make the platfrom support wider #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <meta name="color-scheme" content="#fff">
    
    <meta charset="utf-8">
    <meta name="author" content="Mikey's Portofolio"> 
    <meta name="description" content="My name is Mike Hermsen, On this page you will find more information about me"> 

    <meta property="og:title" content="Mike Hermsen"> 
    <meta property="og:site_name" content="Mikey's Portofolio">
    <meta property="og:url" content="http://mikeh.202devs.nl/"> 
    <meta property="og:description" content="My name is mike hermsen, On this page you will find more information about me"> 
    <meta property="og:type" content="website"> 
    <meta property="og:image:alt" content="Mikey's Portofolio." /> 
